<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
  		<property name="connection.useUnicode">true</property> 
		<property name="connection.characterEncoding">UTF-8</property>
  		<property name="show_sql">true</property>
  		<property name="connection.driver_class">
		<!-- 
			oracle.jdbc.driver.OracleDriver
		  -->
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
		<!-- 
			jdbc:oracle:thin:@127.0.0.1:1521:orcl
		 -->
		 	jdbc:mysql://localhost:3306/wuye
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="dialect">
		<!-- 
			org.hibernate.dialect.Oracle10gDialect
		 -->
			org.hibernate.dialect.MySQLDialect
		</property>
		<mapping resource="cbc/bean/managerInfo.hbm.xml"/>
		<mapping resource="cbc/bean/userInfo.hbm.xml"/>
		<mapping resource="cbc/bean/serveInfo.hbm.xml"/>
		<mapping resource="cbc/bean/advice.hbm.xml"/>
		<mapping resource="cbc/bean/payInfo.hbm.xml"/>
		<!-- 
		<mapping resource="cbc/bean/arrearageInfo.hbm.xml"/>
		<mapping resource="cbc/bean/houseInfo.hbm.xml"/>
		
		 -->
  </session-factory>
</hibernate-configuration>
